.md-typeset details {
    border: none !important;
    padding: 1 !important;
    margin: 1 !important;
    background: none !important;
    box-shadow: none !important;
}

.md-typeset details > summary {
    padding: 1 !important;
    margin: 1 !important;
    font-weight: normal !important;
    cursor: pointer;
}